.input-search {
    display: flex;
    border: none;
    border-radius: 4px;
    background: var(--Gray10, #F1F3F4);
    margin-block-end: .5rem;
    margin-block-start: .5rem;
    outline: none;
    overflow: hidden;
    gap: .5rem; 
}

.input-search i {
    margin: auto;
    padding-left: 1rem;
    font: var(--gray50);
}